
input 
    background: $base-dark
    color: white
//Main.jsx
.urlDataBoxes 
    background: $light-grey
    display: flex
    column-gap: 10px


.urlDataBox span
    position: relative
    left: 4px

.urlDataBox>a>span::after
    content: ''
    background-image: url("../../assets/imgs/edit-dark.svg")
    display: inline-block
    width: 14px
    height: 14px
    background-size: cover

.urlDataBox span:hover,.url-label:hover
    color: pink
    

.urlDataItem
    margin: 5px 10px

.url-label:hover
    cursor pointer

//ModifyUrlData.jsx
#modify-page
    position: absolute
    z-index 999
    background: $base-dark
    opacity: 90%
    width: 100%
    height: 100%

#modifyUrlDataForm
    position: relative
    top: 50%
    left: 50%
    width: max(50%,300px)
    transform: translate(-50%, -50%)
    border: 2px white solid
    padding: 5px

#modifyUrlDataForm label
    display: flex

#modifyUrlDataForm label>*
    flex: 1

#modifyUrlDataForm button
    background-color: $base-dark
    color: white

#modifyUrlDataForm .formButton
    display: flex
    justify-content: right 
    margin-top: 8px


    
