//vars
flight-page()
    position: absolute
    z-index 999
    background: $base-dark
    opacity: 90%
    width: 100%
    height: 500px
    top: 0
    left: 0

flight-page-ele()
    position: relative
    top: 50%
    left: 50%
    width: max(50%,300px)
    transform: translate(-50%, -50%)
    border: 2px white solid
    padding: 5px
    & button
        background-color: $base-dark
        color: white
    & .formButton
        display: flex
        justify-content: right 
        margin-top: 8px
        & button:hover
            background-color:$blood-red



//ModifyUrlData.jsx
#modify-page
    flight-page()

#modifyUrlDataForm
    flight-page-ele()

#modifyUrlDataForm label
    display: flex

#modifyUrlDataForm label>*
    flex: 1

#modifyUrlDataForm input 
    background: $base-dark
    color: white



//urlType.jsx
#urlType-details
    flight-page()


#urlType-details>ul
    flight-page-ele()
    li
        list-style-type: none
        text-align: center
        span
            display: inline-block
            width: 100%
        img
            position: absolute
            left: 5px
            z-index: 2
        &:hover
            background-color:$blood-red
            font-size: x-large
            img
                width:25px
