//Main.jsx
#main
    display: grid
    column-gap: 5px
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 2fr 1fr 
    grid-template-rows: repeat(minmax(100px, auto),3)

    #urlDataBoxes 
        grid-row: 1;
        background: $light-grey
        display: flex
        column-gap: 10px
        &.urlDataBox span
            position: relative
            left: 4px

.urlDataBoxLabel:
    display: flex

.urlDataItem
    margin: 5px 10px

.url-label:hover
    cursor: pointer
    color: pink

.edit
    display: inline-block
    width: 14px
    height: 14px
    background-size: cover
    &:hover
        background-image: url("src/assets/imgs/icons/edit-light.svg")
    


    


//quickNote
#notes
    background-color: $base-dark
    height: 300px
    grid-row: 1 / span 2

.note
    & li>.noteNameInput
        background-color: $base-dark
        color: white
        border: none

.noteBar
    display: grid
    grid-template-columns:8fr 1fr 1fr
    background-color: $light-grey
    justify-content: center
    align-content: center
    &>div>img
        user-select: none
        &.right-down
            transform: rotate(0.25turn)
    &>div>.noteNameInput
        background-color: $light-grey
        border: none
        display: inline-block
        transition-property: all
        transition-duration: 0.2s
        &.active
            color: white
        &:focus
            color: white
            box-sizing: border-box

        
    &>img
        align-self: center
        justify-self: right

#addNote
    background-color: $light-grey
    margin-bottom: 5px
    font-size: large
    text-align: center
    cursor: pointer
    &:hover
        background: grey