.post 
    margin: 0 auto

    .postTitle
        display: flex
        justify-content: center

        p
            width: 150px
            font-size: 27px
            margin: auto 0

    img
        width: 60%
    
    .postContent pre
        background-color: $light-grey