.post-lists
    display: grid
    grid-template-columns: repeat(2, 1fr)
    position: relative
    left: 50%
    transform: translate(-50%)
    .post-item
        margin: auto
        padding: 10px
        border-bottom: $light-grey solid 2px 
        img
            width: 200px
        a
            background-color: $blood-red
            padding: 4px
            border: black 1px solid
            border-radius: 6px
        a:hover
                color: pink

.post 
    margin: 0 auto

    .postTitle
        display: flex
        justify-content: center

        p
            width: 150px
            font-size: 27px
            margin: auto 0

    img
        width: 60%
    
    .postContent pre
        background-color: $light-grey