#side-bar
    position: absolute
    left: 0
    top: 0
    width: 30vw
    max-width: 300px
    height: 100vh
    z-index: 999
    background-color: $blood-red
    border-right: black solid 1px
    box-shadow: 5px 0 4px $claret
    display: grid
    grid-template-rows: repeat(3,1fr)

.slide-in
    animation-name: slideIn
    animation-duration: 1s

.silde-out
    animation-name: slideOut
    animation-duration: 1s
    animation-direction: alternate

#avatar
    text-align: center
    height: max(150px, 20vh)
    box-shadow: 5px 0 15px $claret
    &>img
        width: 50%
        margin: 0 auto
        justify-self: center
        transform: translate(0,40%)
        border-radius: 100%

#setting-opts
    display: flex
    flex-direction: column
    box-shadow: 5px 0 15px $claret
    margin: 10px 0px
    &>.setting-opt
        margin: 10px auto
    &>.collects
        & span
            display: block
            margin: auto 0
            text-align: center
        & ul
            width: 50%

#info
    width: 100%
    position: absolute
    bottom: 0

    box-shadow: 5px 0 15px $claret
    & span
        display: block



@keyframes slideIn {
    from {
        left: -30vw
    }
    to {
        left: 0
    }
}

@keyframes slideOut {
    from {
        left: 0
    }
    to {
        left: -30vw
    }
}