#top-greeting
    margin: auto
    font-size: xx-large
    text-align: center
    background: $light-red 

#navigation
    display: flex
    height: min(100%, 50px)
    justify-content: center
    width: min(60%, 500px)
    margin: 0 auto


.nav-opt
    flex: 1
    text-align: center
    margin: auto

.nav-opt a
    text-decoration: none
    color: white
    font-size: x-large

